 /********** CENTER **********/
.parent{
    display: flex;
    height: 100px;
    background: tomato;
}
.child{
    width: 100px;
    height: 100px;
    margin: auto; /*Magic!*/
    background: white;
    border: 1px solid red;
}
/********** LIST **********/
.flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
  margin: 0;
  list-style: none;
}
.flex-item {
    background: tomato;
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  }
  /********** NAVIGATION **********/
  .navigation{
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      list-style: none;
      margin: 0;
      background: deepskyblue;
  }
  .navigation a{
      text-decoration: none;
      display: block;
      padding: 1em;
      color: white;
  }
  .navigation a:hover{
      background: #1565c0;
  }
  /* Medium screens */
  @media all and (max-width: 800px){
      .navigation{
          justify-content: space-around;
      }
  }
  /* Small screens */
  @media all and (max-width: 700px){
      .navigation{
          flex-direction: column wrap;
          padding: 0;
      }
      .navigation a{
          text-align: center;
          padding: 10px;
          border-top: 1px solid rgba(255,255,255,0.3);
          border-bottom: 1px solid rgba(0,0,0,0.1);
      }
      .navigation li:last-of-type a{
          border-top: none;
      }
  }
  /******** MAIN PAGE *********/
  .wrapper{
      display: flex;
      flex-flow: row wrap;
      font-weight: bold;
      text-align: center;
  }
  /* We tell all items to be 100% width, via flex-basis */
  .wrapper > *{
      flex: 1 100%;
      padding: 10px;
  }
  /* We rely on source order for mobile-first approach
 * in this case:
 * 1. header
 * 2. article
 * 3. aside 1
 * 4. aside 2
 * 5. footer
 */
 .header{
     background: tomato;
 }
 .footer{
     background: lightgreen;
 }
 .main{
     text-align: left;
     background: deepskyblue;
 }
 .aside-1{
     background: gold;
 }
 .aside-2{
     background: hotpink;
 }
 /* Medium screens */
 @media all and(min-width: 600px){
     /* We tell both sidebars to share a row */
     .aside{flex: 1 0 0;}
     /* .aside{flex: 1 auto;} */
 }
 /* Large screens */
 @media all and(min-width: 800px){
 /* We invert order of first sidebar and main
   * And tell the main element to take twice as much width as the other two sidebars 
   */
   .main{flex: 3 0px;}
   .aside-1{order:1;}
   .main {order: 2;}
   .aside-2{order: 3;}
   .footer{order: 4;}
}
body{
    padding: 2em;
}
