body{
    background-color: coral;
}
.grid{
    display: grid;
    grid-template-rows: repeat(2,[row-start] 50px [row-end]);
    grid-template-columns: repeat(3,[col-start] 1fr [col-end]);
    gap: 20px 10px;
    
}
.element{
    background-color: red;
}
.header{
    grid-column: col-start / col-end 3;
    grid-row: row-start / row-end 3;
}